$container-width: 100%;
$labYellow: rgb(234, 157, 21);
$labGray: rgb(51, 51, 51);
$labFont: 'Lato', sans-serif;
$text-white: white;
$text-black: black;

/*GLOBAL*/
* {
  font-family: $labFont;
}

#tituloCapitan {
  margin: 0 auto;
  background-color: $labYellow;
	color:$text-white;
	padding: 2vh;
}

#menu {
	color: $text-white;
  background-color: white;

	ul {
		list-style-type: none;
    margin-top: 10px;
	}

	li {
		background: $labGray;
		padding: 10px;
    margin-top: 10px;
	}

	.yellow {
		background: $labYellow;
	}
}

#resultadosAlumnas {
  background-color: $labGray;
	color:$text-white;
  text-align: center;

  h2 {
    font-weight: bold;
  }
}

#piePagina {
  background-color: $labGray;
	color:$text-white;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}


/*COLUMNAS*/
.row::before, .row::after {
  content: " ";
  display: table;
}

.row::after {
  clear: both;
}

[class*="col-"] {
  min-height: 8px;
  padding: 12px;
  float: left;
}

.col-1 {
  /* (1/12)*100 */
  width: 8.333%;
}

.col-2 {
  /* (2/12)*100 */
  width: 16.666%;
}

.col-3 {
  /* (3/12)*100 */
  width: 25%;
}

.col-4 {
  /* (4/12)*100 */
  width: 33.333%;
}

.col-5 {
  /* (5/12)*100 */
  width: 41.666%;
}

.col-6 {
  /* (6/12)*100 */
  width: 50%;
}

.col-7 {
  /* (7/12)*100 */
  width: 58.333%;
}

.col-8 {
  /* (8/12)*100 */
  width: 66.666%;
}

.col-12 {
  /* (12/12)*100 */
  width: 100%;
}
