@import 'variables';
@import 'mixin';

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: $font-contenido;
}

.container {
  width: 100%;
  margin: 0 auto;
}
.row::before, .row::after {
  content: " ";
  display: table;
}
.row::after {
  clear: both;
}

header{
  background-color: $background-amarillo;
  color: $font-blanco;
  margin: 5%;
  padding: 2%;
  h1{
    font-family: $font-titulo;
  }
}

.menu{
  ul{
    li{
      @include list(3%);
    }
    .list-dif{
      @extend .list-dif;
      background-color: $background-amarillo;
      font-family: $font-contenido;
    }

    @media (min-width: $break-small) {
      @include grid (12);
    }
    @media (min-width: $break-medium) {
      @include grid (4);
    }
    @media (min-width: $break-large) {
      @include grid (4);
    }
  }
}

.content{
  h2, h3{
    font-family: $font-titulo;
  }
  p{
    margin: 2% 2% 2% 0;
  }
  li{
    list-style-position: inside;
  }
  @media (min-width: $break-small) {
    @include grid (10);
  }
  @media (min-width: $break-medium) {
    @include grid (8);
  }
  @media (min-width: $break-large) {
    @include grid (4);
  }
}

.aside{
  background: $background-gris;
  color: $font-blanco;
  text-align: $center-align;
  
  h2{
    font-family: $font-titulo;
    padding: 2%;
  }
  p{
    padding-bottom: 3%;
  }
  @media (min-width: $break-small) {
    @include grid (12);
  }
  @media (min-width: $break-medium) {
    @include grid (12);
  }
  @media (min-width: $break-large) {
    @include grid (4);
  }
}

.footer{
  background: $background-gris;
  color: $font-blanco;
  margin-top: 1%;
  padding: 1%;
  text-align: $center-align;
}
